extends ../layout

block content
  h1(class='page-header text-center')= problem.title
  span(class='text-center') Memeory limit: ,Time-limit:

  h2 Statement
  article(class='markdown')= problem.statement

  h3 Input
  p= problem.input
  h3 Output
  p= problem.output

  each example, index in examples
    h3=  'Example '+(index+1)
    h4 Input
    pre= example.input
    h4 Output
    pre= example.output

  h1(class='page-header text-center') Submit Answer Here
  form(method='post')
    lable(for="language") Language
    select(id="language", name="language")
      option(value="c") C
      option(value="c++") C++
      option(value="python") Python
      option(value="java") Java
    div(class='form-group')
      textarea(class='form-control code-area', name='content')
    button(type='submit', class='btn btn-primary') Submit